<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="mb-5"><%= article.title%></h1>
            <div class="text-muted"><%= article.Date.toLocaleDateString() %></div>
            <a href="/" class="btn btn-secondary mt-3">All Articles</a>
            <a href="/article/edit/<%= article.id %>" class="btn btn-primary mt-3">Edit</a>
        </div>
    <%- article.sanitizedHtml%>
    </div>
</body>
</html>